.social a {
  font-size: 100%;
  padding: 1rem;

}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
}

hr.light {
  margin-top: .8rem;
  margin-bottom: 1rem;
  border-top: 2px solid;
  width: 75%
}

.jumbotron {
  padding: .1rem;
  border-radius: 5;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  padding-bottom: 1.5rem;
}

.fa-code {
  color: #e54d26
}

.fa-bold {
  color: darkblue;
}

.fa-css {
  color: purple;
}

.fa {
  font-size: 4em;
}

.fun {
  width: 100%;
  margin-bottom: 2rem;
}
