<app-admin-navigation></app-admin-navigation>

<div class="container-flex mr-3 ml-3 mt-5">
  <div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
      <div class="card">
        <div class="card-header">
          <div class="container-flex">
            <div class="row">
              <div class="col-6 mt-1">Product/Services</div>
              <div class="col-6"> <a [routerLink]="['/add-offering']"
                  class="btn btn-sm btn-primary text-light float-right">
                  Add<i class="fa fa-plus pl-2"></i></a></div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="container-flex">
            <div class="row">



              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <div class="card">
                  <img class="card-img-top" src="../../assets//static_images/2.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title text-center">iPhone</h5>
                    <a href="#" class="btn btn-success w-50">Edit<i class="fa fa-pencil pl-2"></i></a>
                    <a href="#" class="btn btn-danger w-50">Delete<i class="fa fa-trash pl-2"></i></a>
                    <a class="btn btn-warning w-100 mt-1">View<i class="fa fa-eye pl-2"></i></a>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
